.contenedor{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    background-color: #F0EBFA;
    width: fit-content;
    border-radius: 7px;
    
}
.contenedor label{
    margin-top: 1rem;
}
.contenedor input{
    border-radius: 6px;
    border: solid #35414B .1px;
    box-shadow: 1px 1px 1.6px #35414B;
}
.contenedor button{
    margin-top: 2rem;
    border-radius: 7px;
    background-color: #796EFF;
     color: #fff;
    padding: .2rem;
    border-color:  #796EFF;


}
.titulo{
    text-align: center;
}