.contenedor{
    display:grid;
 text-align: center;
    background-color: #F0EBFA;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem;
}
.container{
    text-align: center;
}
.contenedor input{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    

}
.contenedor textarea{
width: 70%;
margin: 0 auto;
padding: 2rem;
}
.contenedor label{
    font-weight: bold;
    font-size: 1.2rem;
}
.contenido{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
}
.container button{
    display: grid;
    padding: .8rem;
    width: 40%;
    margin: 1rem auto;
    justify-content: center;
    background-color:  #796EFF;
    border: .7px solid #fff ;
    border-radius: 5px;
    color: #fff;
    
}
.hidden{
    display: none;
}

.iniciar{
    display: grid;
    width: 70%;
    margin: 0 auto;
    word-wrap: break-word;
    text-align: center;
}
.boton{
    display: flex;
    justify-content: center;
    background-color:  #796EFF;
    border: .7px solid #fff ;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: .7rem;
    width: 160px;
    margin:0 auto;
    margin-top: 1rem; 
}
.nombre{
    font-weight: bold;
    font-size: 1.1rem;
    color: #796EFF;
}
